{{!-- <img src="" alt="здесь должно быть фото">


<div>
<h1>{{user.name}}</h1>

<p>{{user.email}}</p>
{{#if user.isCarOwner}}
<p>Ваши объявления</p>
{{else}}
<p>У вас нет объявлений</p>
{{/if}}
</div>

<div>
  здесь будут отзывы
</div>


<button><a href="/create">Создать объявление</a></button> --}}

<section class="intro">
    <div class="container">

      <div class="intro_inner">
        <div class="intro_content">
          <!-- <h2 class="intro_subtitle">My Name</h2> -->
          <h1 class="intro_title">{{user.name}}</h1>
           <div class="intro_mail">{{user.email}}</div>

          
          <div class="social">
            <a class="social-link" href="https://instagram.com" target="_blank">
              <img src="/img/instagram.svg" width="35" height="35" alt="Insta">
            </a>
            <a class="social-link" href="https://vk.com" target="_blank">
              <img src="/img/vk.svg" width="35" height="35" alt="VK">
            </a>
            <a class="social-link" href="https://www.linkedin.com" target="_blank">
              <img src="/img/linkedin.svg" width="35" height="35" alt="Linkedin">
            </a>
          </div>

          <img class="intro_photo" src="images/_OsFodI_Tug.jpg">
        </div>

      </div>
        <div>
          <a href="/create">создать объявление</a>
        </div>
  </section>
